<div class="container">
    <mat-card class="shadow pt-5 pb-5 pl-5 pr-5 child m-2">
      <mat-card-title>Login</mat-card-title>
      <mat-card-subtitle>Continue your journery with us.</mat-card-subtitle>
      <mat-card-content>
        <form [formGroup]="loginForm">
          <mat-form-field appearance="outline">
            <mat-label>Email Address</mat-label>
            <input matInput formControlName="Email" />
            <mat-icon matSuffix>email</mat-icon>
            <mat-error *ngIf="formFieldHasError('Email')"
              >This field is required.</mat-error
            >
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput formControlName="Password" type="password"/>
            <mat-icon matSuffix>lock</mat-icon>
            <mat-error *ngIf="formFieldHasError('Password')"
              >This field is required.</mat-error
            >
          </mat-form-field>
        </form>
      </mat-card-content>
      <mat-card-actions class="d-flex justify-content-around">
        <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid" (click)="onSubmit()">
          Sign In
        </button>
        <button
          class="btn btn-link"
          style="box-shadow: none"
          [routerLink]="['/SignUp']"
        >
          New user | Sign Up
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
  